<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetShop"
        tools:targetApi="31">
        <activity
            android:name=".Timer"
            android:exported="false" />
        <activity
            android:name=".TaskPage"
            android:exported="false" />
        <activity
            android:name=".BirdItemPage"
            android:exported="false" />
        <activity
            android:name=".AccessoryItemPage"
            android:exported="false" />
        <activity
            android:name=".CatItemPage"
            android:exported="false" />
        <activity
            android:name=".CartPage"
            android:exported="false" />
        <activity
            android:name=".BlogPage"
            android:exported="false" />
        <activity
            android:name=".ContactUsPage"
            android:exported="false" />
        <activity
            android:name=".ItemPage"
            android:exported="false" />
        <activity
            android:name=".MyProfilePage"
            android:exported="false" />
        <activity
            android:name=".AccessoriesPage"
            android:exported="false" />
        <activity
            android:name=".BirdPage"
            android:exported="false" />
        <activity
            android:name=".CatPage"
            android:exported="false" />
        <activity
            android:name=".DogPage"
            android:exported="false" />
        <activity
            android:name=".FavouritePAge"
            android:exported="false" />
        <activity
            android:name=".SignUpPage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".AnotherActivity"
            android:exported="false" />
        <activity
            android:name=".Second_Page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationReceiver" />

    </application>

</manifest>